
/* FONTES */

@font-face {
  font-family: 'PT_Sans';
  src:
    url("fontes/PT_Sans-Web-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'PT_Sans';
  src:
    url("fontes/PT_Sans-Web-Bold.ttf") format("truetype");
  font-weight: bold;
}
