
/* TOPO */

#topo {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 2;
}

.logo-topo {
  float: left;
  margin-right: 5%;
  box-sizing: border-box;
  display: block;
  height: $altura-topo-barra;

  a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: $altura-topo-barra;
    line-height: $altura-topo-barra;
  }

  img {
    display: block;
    height: $altura-topo-barra - 10px;
  }
}


// Body com Scroll

.body-scroll {
}