
/* CORES */

$cor-verde-dark:    #609a14;
$cor-verde-escuro:  #76bd1d;
$cor-verde-claro:   #96dd3c;

$cor-tema-1: $cor-verde-claro;
$cor-tema-2: $cor-verde-escuro;
$cor-tema-3: $cor-verde-dark;


/* FONTES */

$font-tamanho-base: 16px;
$font-family-base: 'Roboto', Arial, Helvetica;
$font-family-destaque: $font-family-base;
$cor-texto-base: #444;


/* BREAKPOINTS */

$desktop: 800px;
$mobile: $desktop - 1;


/* DIMENSÕES FIXAS */

// Topo

$altura-topo-barra: 40px;
$altura-topo: $altura-topo-barra;

$altura-minima-pagina: 500px;
$pad-menu-itens: 0 35px; // 24 | 36