
/* BOTÕES */

.bt {

  $altura-bt: 35px;

  height: $altura-bt;
  line-height: $altura-bt;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 20px;
  border: none;  
  color: #444;
  background: #ddd;
  font-size: 105%;

  &:hover {
    text-decoration: none;
    background: #ccc;
  }

  /* TIPOS */

  // Cores
  $cor-acessa:   #090;
  $cor-confirma: #090;
  $cor-desfaz:   #b00;

  // Novo
  &.editar {
    color: #fff;
    background-color: $cor-confirma;

    &:hover {
      background-color: lighten($cor-confirma, 10%);
    }
  }

  // Editar
  &.editar {
    color: #fff;
    background-color: $cor-acessa;

    &:hover {
      background-color: lighten($cor-acessa, 10%);
    }
  }

  // Excluir
  &.excluir {
    color: #fff;
    background-color: $cor-desfaz;

    &:hover {
      background-color: lighten($cor-desfaz, 10%);
    }
  }
}

a.bt {
  color: #444;
}

