<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" class="container">
	<h1>Usuários Cadastrados</h1>
	<table class="lista">
		<thead>
			<tr class="cabecalho">
				<td>ID</td>
				<td width="100%">Nome</td>
                <td colspan="2">ações</td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${listaUsers.empty}">
				<td colspan="2">Sem usuários</td>
			</tr>
			<tr th:each="user:${listaUsers}" class="item">
				<td th:text="${user.id}">--</td>
				<td>
					<a href="#" th:href="@{'/listaUsers/'+${user.id}}" th:text="${user.username}">Nome</a>
				</td>
                <td>
                    <a href="#" th:href="@{'/listaUsers/alterar/'+${user.id}}">editar</a>
                </td>                
                <td>
                    <a href="#" th:href="@{'/listaUsers/excluir/'+${user.id}}">excluir</a>
                </td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>