<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Empréstimo de Livros</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/estilos.css" />

</head>
<body>

<header id="topo">
    <div id="menu-topo">
        <div class="contem">
            <div class="logo-topo">Java Spring &ndash; Biblioteca Virtual</div>
            <!-- MENU -->
            <nav th:replace="menu :: menu"></nav>
        </div>
    </div>
</header>

<!--
Object userDetails = SecurityContextHolder.getContext().getAuthentication().getDetails();
<p th:text="${#authentication.getPrincipal().getUsername()}"></p>
<p th:text="${SecurityContextHolder.getContext().getAuthentication().getDetails()}"></p>
<h2 th:text="${pageContext.request.userPrincipal.name}"></h2>

<p th:text="${session.size()}">[tete]</p>
<p th:text="${SecurityContextHolder.getContext()}">[tete]</p>
-->
<p th:text="${#request.userPrincipal.name}">[tete]</p>


<p sec:authentication="name">[name]</p>
<p sec:authentication="username">[username]</p>
<div sec:authorize="isAuthenticated()">
This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
This content is only shown to users.
</div>

<main class="principal principal-home">
  <div class="contem">
    <div class="pagina">
		<div layout:fragment="content">&mdash; Conteúdo aqui &mdash;</div>
    </div>
  </div>
</main>

<footer id="rodape">
	<p class="assina">&mdash; Java Spring &ndash; Biblioteca Virtual &mdash;</p>
</footer>

<!--  JS -->
<!--
<script type="text/javascript" src=""></script>
-->

</body>
</html>