<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
</head>
<body>

<!-- MENU -->
<nav th:fragment="menu">
    <ul>
        <!-- Página Inicial -->
        <li class="item-n1">
            <a class="lk-n1" th:href="@{/}">Início</a>
        </li>

        <!-- Usuários -->
        <li class="item-n1">
            <span class="lk-n1">Usuários</span>
            <ul class="sub">
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/registration}">Cadastrar Usuário</a></li>
                <li><a th:href="@{/user/listar}">Usuários Cadastrados</a></li>
            </ul>
        </li>

        <!-- Livros -->
        <li class="item-n1">
            <span class="lk-n1">Livros</span>
            <ul class="sub">
                <li><a th:href="@{/livros/listar}">Títulos disponíveis</a></li>
                <li><a th:href="@{/livros/novo}">Inserir novo título</a></li>
            </ul>
        </li>

        <!-- Autores -->
        <li class="item-n1">
            <span class="lk-n1">Autores</span>
            <ul class="sub">
                <li><a th:href="@{/autores/listar}">Autores disponíveis</a></li>
                <li><a th:href="@{/autores/novo}">Inserir novo autor</a></li>
            </ul>
        </li>

        <!-- Empréstimos -->
        <li class="item-n1">
            <span class="lk-n1">Empréstimos</span>
            <ul class="sub">
                <li><a th:href="@{/emprestimos/listar}">Empréstimos em aberto</a></li>
                <li><a th:href="@{/emprestimos/novo}">Inserir novo empréstimo</a></li>
            </ul>
        </li>

        <!-- SAIR -->
        <li class="item-n1 pad">
        	<span sec:authentication="name"></span>
            <a class="lk-n1" th:href="@{/logout}">Sair</a>
        </li>
    </ul>
</nav>

</body>
</html>